# name: Github Token Abuse

# on:
#   push:
#     branches:
#       - main

# permissions:
#   contents: write

# jobs:
#   test:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3

#       - name: Run tests
#         run: |
#           echo "Running tests..."
    
#       - name: Run application
#         run: python app/main.py

name: Github Token Exfiltration

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run application
        env:
          DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        run: |
          python app/main.py